<h4>Welcome to Blackjack. Please enter your name to continue.<h4>

<form action='/welcome' method="post">
  <input type='text' name="player_name" />
  <input type='submit' value="Submit" class="btn" />
</form>