<h4>Welcome to Blackjack. Please enter your username to continue.<h4>

<form action='/game' method="post">
  <input type='test' name="username" />
  <input type='submit' value="Submit" class="btn" />
</form>